---
const partners = [
  {
    name: "WIZABOT",
    image: "/equity/wizabot.svg",
    href: "https://www.instagram.com/wizabot/",
    description: "TECH",
  },
  {
    name: "QAREEB",
    image: "/equity/qareeb.svg",
    href: "https://www.instagram.com/qareeb_official/",
    description: "CAMERA",
  },
  {
    name: "OKADOO",
    image: "/equity/okadoo.svg",
    href: "https://www.instagram.com/okadoo_market/",
    description: "ONLINE MARKET",
  },
];
---

<section class="space-y-4 mb-16">
  <svg
    width="129"
    height="76"
    viewBox="0 0 129 76"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="mx-auto size-16 lg:size-20"
  >
    <path
      d="M6 6L65.2 65.21L122.79 7.62012"
      stroke="black"
      stroke-width="15"
      stroke-miterlimit="10"></path>
  </svg>
  <h2 class="text-title font-bold text-center font-sans">
    EQUITY
    <span class="text-foreground-tertiary"> PARTNERS </span>
  </h2>
  <div class="flex flex-col sm:flex-row justify-center items-center gap-8 lg:gap-12 max-w-6xl mx-auto px-8 sm:px-4 py-4">
    {
      partners.map((partner) => (
        <a
          href={partner.href}
          target="_blank"
          class="flex h-24 w-52 lg:h-28 lg:w-64 items-center justify-center scale-100 transition-all duration-300 hover:scale-110"
          title={partner.description}
        >
          <span class="sr-only">{partner.name}</span>
          <img
            src={partner.image}
            alt={partner.name}
            class="max-h-full max-w-full object-contain"
          />
        </a>
      ))
    }
  </div>
</section>
<div class="text-xl font-light text-center max-w-4xl mx-auto p-4 mt-16">
  AT THINKERCARE GROUP,EQUITY PARTNERSHIPS ARE BUILT ON TRUST, VISION, AND
  LONG-TERM VALUE. WE DON’T JUST INVEST CAPITAL. WE BRING STRATEGY, EXPERIENCE,
  AND A . STRONG ECOSYSTEM.
</div>
